#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button {
  border-radius: 8px;
  border: 0.1em solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  background-color: lightgray;
  border-color: dimgrey;
  margin: 5px;
}
button:hover {
  border-width: 0.3em;
  padding: 0.4em 1em;

}
button:active {
  background-color: dimgrey;

}

#result {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f9f9f9f9;
  width: 20em;
  height: 12em;
}
h2{
  font-size: 3.2em;
  line-height: 1.1;
  text-align: center;
  margin: 0;
  padding: 0.25em;
}