#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

ul{
  padding: 0;
  display: block;
  width: fit-content;
  margin: auto;
}
li{
  list-style-type: none;
  margin: 0.2em;
  padding: 0;
  width: 100%
}
li button{
  width: 100%
}
.selected{
  background-color: lightgray;
}
button{
  border-width: 5px;
}
button{
  border-width: 5px;
}
button:hover{
  border-width: 5px;
}
button[type=submit]{
  margin-top: 1em;
}